* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backgroundWrap {
  font-family: 'Whitney', sans-serif;
  background-color: black;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.buttonsPosition {
  display: flex;
  align-items: center;
}

.buttonsPosition button {
  margin-left: 10px;
}
.button-styles {
  background-color: #0a92f3;
  color: white;
  padding: 12px 20px;
}
.contentWrap {
  max-width: 75%;
  margin-top: 100px;
  color: white;
}

.contentWrap h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.contentWrap h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.contentWrap p {
  font-size: 1.2em;
  margin-bottom: 20px;
}
