@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundWrap {
  width: 100vw;
  height: 100vh;
  background: rgb(14, 13, 13);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Whitney', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}

.buttonsPosition {
  position: absolute;
  top: 10px;
  right: 20px;
}

.buttonsPosition button {
  margin-left: 10px;
}

.button-styles {
  border: 1px solid #007bff;
  background-color: transparent;
  color: #007bff;
  padding-right: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-styles:hover {
  background-color: #007bff;
  color: white;
}

.contentWrap {
  display: flex;
  max-width: 90%;
  color: white;
  z-index: 1;
  align-items: center;
}

.image-adjust {
  height: auto;
  width: 450px;
  max-width: 100%;
  border-radius: 10px;
  margin-right: 20px;
}

.text-position {
  max-width: 600px;
}

.flicker {
  font-size: 50px;
  font-family: 'Merienda', sans-serif;
  margin: 1rem auto;
  color: #007bff;
  background: linear-gradient(to right, #e6e6e6, #1d1c1c, #ff0000);
  background-size: 110px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: flick 1.2s infinite;
}

@keyframes flick {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
